
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/restaurante/home}">


<body>

<div layout:fragment="content">
	
	<div>
			<h1>Configurações</h1>
			<input type="button" value="Dados básicos"  th:onclick="'location.href=\'' + @{/restaurante/edit} + '\';'"/><br>
			<input type="button" value="Comidas" th:onclick="'location.href=\'' + @{/restaurante/comidas} + '\';'"/><br/>
			
			<input type="button" value="Relatório de Pedidos"/><br/>
			<input type="button" value="Relatório de Itens"/><br/>
			<input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'"/><br/>
		</div>
		
		<div>
			<h1>Pedidos em andamento</h1>
			<input type="submit" value="#35334"/><br/>
			<input type="submit" value="#8956"/><br/>
			<input type="submit" value="#14214"/><br/>
		</div>
	
	</body>

</html>